@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
    width: 99vw;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1 {
    width: 100%;
    color: white;
    position: absolute;
    top: 10%;
    text-align: center;
    font-size: 1.8em;
    font-family: sans-serif;
    animation: float 20s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateY(-10px);
    }
    40%{
        transform: translateX(10px);
    }
    60% {
        transform: translateY(10px);
    }
    80% {
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

footer {
    width: 99vw;
    color: white;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-weight: bold;
    box-shadow: 100 100 10 white;
    display: block;
    padding-bottom: 10px;
}
span.criar {
    font-size: 1em;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    width: 100vw;
    text-align: center;
    position: relative;
    top: 30vh;
    margin: auto;
}
div {
    width: 100vw;
    position: relative;
    top: 35vh;
    text-align: center;
}
input#senha{
    -webkit-appearance: none;
    width: 195px;
    height: 6px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}

input#senha::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: rgb(65, 204, 84);
}

div#senha1 {
    color: rgb(0, 0, 0);
    top: 55vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    left: 10px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
div#senha1.hide {
    display: none;
}
input#botao {
    width: 200px;
    padding: 7px;
    font-weight: bold;
    background-color: #3eda3e;
    color: white;
    border-radius: 5px;
}

input#botao:hover {
    cursor: pointer;
}

input#botao:active {
    filter: brightness(0.7);
}

div#copiar {
    color: rgb(255, 255, 255);
    top: 60vh;
    background-color: rgba(2, 2, 2, 0.959);
    text-align: center;
    width: 150px;
    left: 10px;
    margin: auto;
    padding: 0px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 4px white;
}
div#copiar.hide {
    display: none;
}